@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
    padding: 40px 0 0 0;
    border-bottom: 1px solid rgb(161, 161, 161, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    &__list{
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
    }
    &__list-item{
        margin-right: 40px;
        padding-bottom: 40px;
        &:last-child{
            margin: 0;
        }
        &:hover{
            border-bottom: 2px solid #FFFFFF;
        }
    }
    &__link{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }
    
}
.intro{
    background: url(../images/intro-back.jpg) no-repeat;
    background-size: cover;
    &__wrapper{
        padding: 320px 0 335px 0;
        text-align: center;
    }
    &__subtitle{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    &__title{
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        color: #FFFFFF;
        margin-bottom: 40px;
    }
    &__link{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 13px 36px;
        background: #4985FF;
        border-radius: 30px;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        transition: all 0.1s ease 0s;
        &:hover{
            opacity: 0.7;
        }
    }
}
.about{
    &__wrapper{
        padding: 110px 0 110px 0;
    }
    &__title{
        @extend %title;
        color: #323232;
        text-align: center;
        max-width: 740px;
        margin: 0 auto;
        margin-bottom: 45px;
    }
    &__text{
        @extend %text;
        text-align: center;
        max-width: 730px;
        margin: 0 auto;
        margin-bottom: 70px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 55px;
    }
    &__item{
        display: flex;
    }
    &__img{
        margin-right: 17px;
        max-width: 110px;
        max-height: 110px;
    }
    &__inner-text{
        padding-top: 45px;
    }
    &__inner-title{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 10px;
    }
    &__inner-subtitle{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #999999;
        max-width: 222px;
    }
    &__link{
        display: block;
        max-width: 164px;
        margin: 0 auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 13px 36px;
        background: #4985FF;
        border-radius: 30px;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        transition: all 0.1s ease 0s;
        &:hover{
            opacity: 0.7;
        }
    }
}
.about2{
    background: #F6F6F8;
    &__wrapper{
        padding: 100px 0 70px 0;
    }
    &__block1{
        padding: 0 0 90px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #E0E0E0;
    }
    &__img{
        max-width: 500px;
        max-height: 400px;
    }
    &__title{
        @extend %title;
        color: #323232;
        margin-bottom: 30px;
    }
    &__p{
        @extend %text;
        max-width: 490px;
        margin-bottom: 30px;
    }
    &__link{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #4985FF;
        transition: all 0.1s ease 0s;
        &:hover{
            opacity: 0.7;
        }
    }
    &__block2{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 70px 90px 0 90px;
    }
    &__item-inner{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    &__item-img{
        max-width: 30px;
        max-height: 30px;
        margin-right: 20px;
    }
    &__item-title{
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        color: #000000;
    }
    &__item-text{
        @extend %text;
    }
}
.works{
    padding-bottom: 85px;
    &__block1{
        background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    }
    &__block1-wrapper{
        padding: 100px 0 300px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    &__title{
        @extend %title;
        color: #FFFFFF;
        max-width: 540px;
    }
    &__link{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 13px 36px;
        background: #4985FF;
        border-radius: 30px;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        transition: all 0.1s ease 0s;
        &:hover{
            opacity: 0.7;
        }
    }
    &__block2{
        margin-top: -230px;
    }
    &__block2-wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 85px;
        border-bottom: 1px solid #E0E0E0;
    }
    &__img{
        max-width: 350px;
        max-height: 300px;
        width: 100%;
        margin-bottom: 25px;
    }
    &__item-title{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 25px;
    }
    &__text{
        @extend %text;
        margin-bottom: 25px;
        max-width: 350px;
    }
    &__link2{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #4985FF;
        transition: all 0.1s ease 0s;
        &:hover{
            opacity: 0.7;
        }
    }
}
.projects{
    background: #F6F6F8;
    &__wrapper{
        padding: 100px 0 130px 0;
        text-align: center
    }
    &__title{
        @extend %title;
        color: #000000;
        margin-bottom: 50px;
    }
    &__text{
        @extend %text;
        max-width: 730px;
        margin: 0 auto;
        margin-bottom: 65px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    &__img{
        max-width: 255px;
        max-height: 255px;
    }
    &__link{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 13px 36px;
        background: #4985FF;
        border-radius: 30px;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        transition: all 0.1s ease 0s;
        &:hover{
            opacity: 0.7;
        }
    }
}
.video{
    padding-bottom: 85px;
    &__block1{
        padding: 70px 0 420px 0;
        background: url(../images/video-back.jpg) no-repeat;
        background-size: cover;
        text-align: center;
    }
    &__title{
        @extend %title;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    &__text{
        @extend %text;
        color: #FFFFFF;
    }
    &__block2{
        background: url(../images/video.png) no-repeat;
        background-size: cover;
        max-width: 970px;
        max-height: 430px;
        width: 100%;
        height: 100%;
        margin: -350px auto 0 auto;
        padding: 165px 335px;
    }
    &__link{
        margin: 0 auto;
        display: block;
        padding: 16px 30px 20px 40px;
        border: 1px solid #FFFFFF;
        border-radius: 200px;
        max-width: 300px;
        max-height: 100px;
        transition: all 0.1s ease 0s;
        &:hover{
            opacity: 0.7;
        }
    }
    &__p{
        padding: 20px 0 20px 81px;
        background: url(../images/play-button.svg) left no-repeat;
        @extend %text;
        color: #FFFFFF;
    }
    &__play{
        display: none;
    }
}
.subscription{
    &__wrapper{
        padding: 85px 0 85px 0;
        text-align: center;
        border-top: 1px solid #E0E0E0;
    }
    &__title{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 20px;
    }
    &__text{
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #999999;
        margin-bottom: 30px;
    }
    &__input{
        border: 1px solid #F2F2F2;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        border-radius: 30px 0 0 30px;
        padding: 15px 33px;
        max-width: 300px;
        width: 100%;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: #999999;
    }
    &__button{
        background: #4985FF;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        border-radius: 0px 30px 30px 0px;
        border: none;
        padding: 14.2px 36px 16.7px 26px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        margin-left: -4.5px;
        transition: all 0.1s ease 0s;
        &:hover{
            opacity: 0.7;
        }
        margin-bottom: 30px;
    }
    &__text2{
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: #999999;
    }
}

.footer{
    background: #F6F6F8;
    &__wrapper{
        padding: 70px 0 40px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid #E0E0E0;
    }
    &__title{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 30px;
    }
    &__list-item{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #999999;
        margin-bottom: 30px;
        padding-left: 25px;
        background: url(../images/right-arrow.svg) left no-repeat;
        transition: all 0.05s ease 0s;
        &:hover{
            opacity: 0.5;
        }
    }
    &__wrapper2{
        padding: 30px 0;
        text-align: center;
    }
    &__text{
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: #999999;
    }
}
.footer__list-item.a{
    background: url(../images/envelope.svg) left no-repeat;
    padding-left: 30px;
}
.footer__list-item.b{
    background: url(../images/call.svg) left no-repeat;
    padding-left: 30px;
}
.footer__list-item.c{
    background: url(../images/placeholder.svg) left no-repeat;
    padding-left: 30px;
}



.burger{
    display: none;
    flex-direction: column;
    padding-bottom: 20px;
    z-index: 100;
}
.burger_line{
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background-color: white;
    transition: all 0.3s ease 0s;
}
.burger_window{
    transform: translate(0, -120%);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.95;
    z-index: 1;
    padding-top: 45px;
    padding-left: 15px;
    transition: all 0.3s ease 0s;
}
.burger_window.active{
    transform: translate(0);
}
.burger_list{
    text-align: center;
    margin-top: 80px;
}
.burger_element{
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;

}
.blue{
    color: #4985FF;
}
@import 'media';